html {
  box-sizing: border-box;
  list-style: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  list-style: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: lightskyblue;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 18px;
  width: 150px;
}

.header div {
  flex: none;

}

.header ul {
  margin-left: 120px;
  flex: none;
}

.left p.big {
  font-size: 48px;
  font-weight: bolder;
  margin-block: 0px;
}

.hero {
  background-color: #1f2937;
}

.header {
  padding-left: 100px;
  padding-right: 100px;
  flex: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.photo {
  flex: 1;
  display: flex;
  align-items: center;
}

.right {
  margin-left: auto;

}

.photo {
  margin-left: 50px;
}

.header ul {
  display: flex;
  font-size: 18px;
}

.header ul li {
  margin-right: 10px;
  margin-left: 10px;
}

.subtext {
  padding: 100px;
  display: flex;
  height: 484px;
  flex: none;
  justify-content: space-between;
}

.left {
  /*flex: 0 1 320px;*/
  flex: none;
  width: 484px;
  display: flex;
  flex-direction: column;
}

.left p {
  color: white;
  font-size: 24px;
}

.info {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  font-size: 36px;
  color: black;
  font-weight: bold;
  text-align: center;

}

.gooseinfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gooseinfo div {
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 14px;
}

.quote {

  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
}

.quote .quotebody {
  margin-left: auto;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote .name {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-top: 5px;
}

.signup {
  margin: 50px 100px;
  height: 125px;
  background-color: #3882f6;
  display: flex;
  flex: none;
  justify-content: space-between;
  padding: 25px 50px;
  min-width: 870px;
}

.signup div {
  flex-direction: column;
  padding: 5px;
  display: flex;
  width: 426px;


}

.signup div .bigish {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.smallbutton {
  flex: none;
  width: 200px;
  height: 50px;
  margin-top: auto;
  margin-left: 130px;
  background-color: #3882f6;
  font-weight: bold;
  margin-right: 5px;
}

.foot {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #1f2937;
}